{% extends  'base.html' %}
{% load staticfiles %}
{% load likes_tags %}
{% block title %}相册{% endblock %}
{% block hender_extends %} 
<link rel="stylesheet" href="{%static 'css/photo.css' %}">
<link rel="stylesheet" href="{%static 'css/sort_style.css' %}">
<link rel="stylesheet" href="{%static 'css/sort_main.css' %}">
<link rel="stylesheet" href="{%static 'css/sortable.min.css' %}">
<script src="{% static 'js/sortable.js' %}"></script>
{% endblock %}
{% block  nav_photo_active  %}active{% endblock %}

{% block content %}
<section class="photo">
   <div class="sortable">
    <div class="container">
      
      <h2 class="title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>相册</h2>
    <div class="wrapper">
      <ul class="sortable__nav nav">
        <li>
          <a data-sjslink="all" class="nav__link">
            所有
          </a>
        </li>
       {%for photo_type in photo_types %}
        <li>
          <a data-sjslink="{{ photo_type }}" class="nav__link">
             {{ photo_type }}
          </a>
        </li>
        {% empty %}
        <h3>没有分类</h3>
        {% endfor %}
      </ul>
      <div id="sortable" class="sjs-default">
       {% for photo in photos %}   
        <div data-sjsel="{{ photo.photo_type }}">
          <div class="card">
            <img class="card__picture" src="../static/media/{{photo.photo_img}}" alt="">
            <div class="card-infos">
              <h2 class="card__title">{{photo.title}}</h2>
              <ul class="card__text">
                     <li>{{photo.brief_introduction}}</li>
                     <li  class="card_footer">
                        <div class="like" onclick="likeChange(this, '{% get_content_type photo %}', {{ photo.pk }})">
                          <span class="glyphicon  glyphicon-heart {% get_like_status photo %}"></span>
                          <span class="liked-num">{% get_like_count photo %}</span>
                        </div>   
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                        <span>{{photo.create_time|date:"Y-m-d"}}</span>
                    </li>
              </ul>   
            </div>
          </div>
        </div>
       {% empty %}
       <h3>暂无相片</h3>
       {% endfor %}
      </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}
{% block script_extends %}
      <script type="text/javascript">
        document.querySelector('#sortable').sortablejs()
        //喜欢状态及人数
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: "{% url 'like_change' %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function(data){
                    console.log(data)
                    if(data['status']=='SUCCESS'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']);
                    }else{
                        if(data['code']==400){
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);    
                        }                        
                    }
                },
                error: function(xhr){
                    console.log(xhr)
                }
            });
        }

      </script>
      <script src="{% static 'js/photo—enlarge.js' %}"></script>
{% endblock %}