{% extends  'base.html' %}
{% load staticfiles %}
{% load read_statistics_tags %}
{% load comment_tags %}
{% load likes_tags %}
{% block title %}
    首页
{% endblock %}
{% block hender_extends %} 
      <link rel="stylesheet" href="{%static 'css/home.css' %}">
      <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}

{% block content %}
<section class="home">
  <div class="container">
    <div class="row">
        <div class="col-sm-9">
       <div id="container" style="max-width:800px;height:400px"></div>
            <h2 class="title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
               最新博客列表
             </h2>
            <div class="blog-list">
               {% for blog in page_of_blogs %}
                <div class="blog-list-item clearfix">
                    <div class="panel  panel-primary">
                          <div class="panel-body">
                              <div class="col-xs-5">
                                  <div class="blog-list-img"><img src="../static/media/{{blog.blog_logo_img}}"></div>
                              </div>
                              <div class="col-xs-6">
                                  <a href="{% url 'blog_detail' blog.pk %}" class="brief_introduction">
                                      {{ blog.brief_introduction|safe }}
                                  </a>
                                  <div class="info">
                                      <span class="blog-list-avatar">
                                         <img src="../static/media/{{blog.author.extension.user_logo}}" class="img-circle">
                                      </span>        
                                      <span>{{ blog.author.extension.nickname}}</span> |
                                      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>:
                                      <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>|
                                      <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                                      <span>{{blog.create_time|date:"Y-m-d"}}</span>|
                                      <span>评论({% get_comment_count blog %})</span>|
                                      <span class="glyphicon  glyphicon-heart "></span>
                                      <span class="liked-num">{% get_like_count blog %}</span>
                                  </div>
                              </div>
                           </div>
                    </div>
                </div>
                {% empty %}
                <div class="blog-list-item">
                    <h3>暂无博客，敬请期待</h3>
                </div>
                {% endfor %} 
            </div>
            <div class="paginator">
                <ul class="pagination">
                 <li>
                    {% if page_of_blogs.has_previous %}
                       <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                       </a>
                    {% else %}
                          <span aria-hidden="true">&laquo;</span>
                    {% endif %}
                 </li>
                    {% for page_num in page_range %}
                      {% if page_num == page_of_blogs.number %}
                        <li class="active"><span>{{ page_num }}</span></li>
                      {% else %}
                         {% if page_num == '...' %}
                            <li><span>{{ page_num }}</span></li>
                         {% else %}
                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                         {% endif %}
                      {% endif %}    
                    {% endfor %}
                  <li>
                    {% if page_of_blogs.has_next %}
                       <a href="?page={{ page_of_blogs.next_page_number }} " aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                       </a>
                    {% else %}
                        <span aria-hidden="true">&raquo;</span>
                    {% endif %}
                  </li>
               </ul>
                <p class="blog-list-footer"> 一共有{{ page_of_blogs.paginator.count }}篇博客,共有
                                                          {{ page_of_blogs.paginator.num_pages }}页</p>
             </div>
        </div>

        <div class="col-sm-3 hidden-xs ">

           <div class="panel panel-info">
                <div class="panel-heading">
                 <h3 class="panel-title">关于我</h3>
                 </div>
                 <div class="panel-body">
                       <div class="side-bar-card clearfix">
                            <div class="col-xs-5">
                                <img src="static/media/img/64.jpeg" title="亚米酱"/ class="img-circle">
                            </div>
                              <div class="col-xs-7 side-bar-introduction">
                                  <div class="">每天进步一点点</div>
                                  <div class="side-bar-phone">联系电话：15827356131</div>
                              </div>
                        </div>
                  </div>
           </div>

             <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">推荐博客</h3>
                </div>
                <div class="panel-body">
                  <div class="side-bar-list">
                         {% for blog in recommend_blogs %}
                         <div class="side-bar-item">
                            <a href="{% url 'blog_detail' blog.pk %}" class="side-item-title">{{ blog.title }}</a>
                            <div class="side-item-info">
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 
                                          {% get_read_num blog %}人
                                   </span> |
                                   <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                                   <span>{{blog.create_time|date:"Y-m-d"}}</span>
                            </div>
                          </div>
                        {% empty %}
                         <div class="side-bar-item">
                            <h4>暂无博客，敬请期待</h4>
                         </div>
                         {% endfor %}
                    </div>
                </div>
              </div>
             <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">最新博客</h3>
                </div>
                <div class="panel-body">
                  <div class="side-bar-list">
                         {% for blog in new_blogs %}
                         <div class="side-bar-item">
                            <a href="{% url 'blog_detail' blog.pk %}" class="side-item-title">{{ blog.title }}</a>
                            <div class="side-item-info">
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 
                                          {% get_read_num blog %}人
                                   </span> |
                                   <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                                   <span>{{blog.create_time|date:"Y-m-d"}}</span>
                            </div>
                          </div>
                        {% empty %}
                         <div class="side-bar-item">
                            <h4>暂无博客，敬请期待</h4>
                         </div>
                         {% endfor %}
                    </div>
                </div>
              </div>
            </div>

        </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script_extends %}
      <script src="{% static 'js/photo—enlarge.js' %}"></script>
              <script>
var chart = Highcharts.chart('container', {
  title: {
    text: '最近七天阅读量变化'
  },
  subtitle: {
    text: null
  },
  xAxis: {
      categories: {{ blog_dates|safe }},  // x 轴分类
      tickmarkPlacement: 'on',
      title: {text:'前七天阅读量变化'},
  },
  yAxis: {
    title: {
      text: '统计数量'
    }
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },
  plotOptions: {
                line: {
                  dataLabels: {
                       enabled: true
                      }
                 }
              },
            legend:{ enabled: true },
            credits:{ enabled: false },
  series: [{
    name: '视频播放数量',
    data: {{ video_read_nums }}
  }, {
    name: '博客阅读数量',
    data:{{ blog_read_nums }}
  }],
  responsive: {
    rules: [{
      condition: {
        maxWidth: 500
      },
      chartOptions: {
        legend: {
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom'
        }
      }
    }]
  }
});
    </script>
{% endblock %}