{% extends  'base.html' %}
{% load staticfiles %}
{% load read_statistics_tags %}
{% block title %}
  我的网站
{% endblock %}
{% block hender_extends %} 
      <link rel="stylesheet" href="{%static 'css/home.css' %}">
{% endblock %}
{% block  nav_about_me  %}active{% endblock %}
{% block content %}
<section class="about_me">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
          <div class="panel panel-default">
              <div class="panel-body">
           
                  <h2 class="title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                   {{about_me.title}}</h2>           
                    {{about_me.introduction|safe}}
              </div>
         </div>
      </div>
      <div class="col-sm-3 hidden-xs ">
          <div class="panel panel-info">
                <div class="panel-heading">
                 <h3 class="panel-title">关于我</h3>
                 </div>
                 <div class="panel-body">
                       <div class="side-bar-card clearfix">
                            <div class="col-xs-5">
                                <img src="../static/media/img/64.jpeg" title="亚米酱"/ class="img-circle">
                            </div>
                              <div class="col-xs-7 side-bar-introduction">
                                  <div class="">每天进步一点点</div>
                                  <div class="side-bar-phone">联系电话：15827356131</div>
                              </div>
                        </div>
                  </div>
           </div>
             <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">推荐博客</h3>
                </div>
                <div class="panel-body">
                  <div class="side-bar-list">
                         {% for blog in recommend_blogs %}
                         <div class="side-bar-item">
                            <a href="{% url 'blog_detail' blog.pk %}" class="side-item-title">{{ blog.title }}</a>
                            <div class="side-item-info">
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 
                                          {% get_read_num blog %}人
                                   </span> |
                                   <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                                   <span>{{blog.create_time|date:"Y-m-d"}}</span>
                            </div>
                          </div>
                        {% empty %}
                         <div class="side-bar-item">
                            <h4>暂无博客，敬请期待</h4>
                         </div>
                         {% endfor %}
                    </div>
                </div>
              </div>
             <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">最新博客</h3>
                </div>
                <div class="panel-body">
                  <div class="side-bar-list">
                         {% for blog in new_blogs %}
                         <div class="side-bar-item">
                            <a href="{% url 'blog_detail' blog.pk %}" class="side-item-title">{{ blog.title }}</a>
                            <div class="side-item-info">
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 
                                          {% get_read_num blog %}人
                                   </span> |
                                   <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                                   <span>{{blog.create_time|date:"Y-m-d"}}</span>
                            </div>
                          </div>
                        {% empty %}
                         <div class="side-bar-item">
                            <h4>暂无博客，敬请期待</h4>
                         </div>
                         {% endfor %}
                    </div>
                </div>
              </div>
            
      </div>
   </div>
</section>
{% endblock %}
{% block script_extends %}
      <script src="{% static 'js/photo—enlarge.js' %}"></script>
{% endblock %}