{% extends 'base.html' %}
{% block modal %}
<!-- Modal -->
    <div class="modal modal-primary" id="login_modal" tabindex="-1" role="dialog" style="padding-top: 100px">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="login_modal_form" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">登录</h4>
                    </div>

                    <div class="modal-body">
                        {% csrf_token %}
                        {% for field in login_modal_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        <span id="login_medal_tip" class="text-danger"></span>
                    </div>
                    
                    <div class="modal-footer">
                         <div class="clearfix"></div>
                                <a href="{% url 'forgot_password' %} " data-dissmiss="modal" class=" pull-left" >忘记密码？</a>
                         <li class="pull-left">
                            <a href="{% url 'register' %}">注册</a>
                        </li>
                        <button type="submit" class="btn btn-primary">登录</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#login_modal_form").submit(function(event){
            event.preventDefault();
            $.ajax({
                url: '{% url "login_for_modal" %}',
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status']=='SUCCESS'){
                        window.location.reload();
                    }else{
                        $('#login_medal_tip').text('用户名或密码不正确');
                    }
                }
            });
        });
    </script>

{% endblock %}