{% extends  'base.html' %}
{% load staticfiles %}
{% load read_statistics_tags %}
{% load likes_tags %}
{% block title %}影视{% endblock %}
{% block hender_extends %} 
<link rel="stylesheet" href="{%static 'css/sortable.min.css' %}">
<link rel="stylesheet" href="{%static 'css/video.css' %}">
<link rel="stylesheet" href="{%static 'css/sort_style.css' %}">
<link rel="stylesheet" href="{%static 'css/sort_main.css' %}">
<script src="{% static 'js/sortable.js' %}"></script>
{% endblock %}
{% block  nav_video_active  %}active{% endblock %}

{% block content %}
<section class="video">
   <div class="sortable">
    <div class="container">
        <h2 class="title"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>视频列表</h2>
       <div class="wrapper">
       <ul class="sortable__nav nav">
          <li>
            <a data-sjslink="all" class="nav__link">
              所有
            </a>
          </li>
         {%for video_type in video_types %}
          <li>
            <a data-sjslink="{{ video_type }}" class="nav__link">
               {{ video_type }}
            </a>
          </li>
          {% empty %}
          <h3>没有分类</h3>
          {% endfor %}
       </ul>
       <div id="sortable" class="sjs-default">
           {% for video in videos %}   
            <div data-sjsel="{{ video.video_type }}">
                <div class="card" >
                  <div class="card__picture">
                      <div class="videolist" vpath="../static/media/{{video.video_cover_img}}" ipath="{{ video.file_url}}" data-video-pk="{{video.pk}}" >
                         <img src="../static/media/{{video.video_cover_img}}" class="videoplay">
                         <img src="../static/media/img/play.png" class="videoed">
                      </div>
                  </div>
                  <div class="card-infos">
                    <h2 class="card__title">{{video.title}}</h2>
                    <ul class="card__text">
                           <li>{{video.desc}}</li>
                           <li  class="card_footer">
                              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                              <span> {% get_read_num video %}人</span>     
                              <div class="like" onclick="likeChange(this, '{% get_content_type video %}', {{ video.pk }})">
                                    <span class="glyphicon  glyphicon-heart {% get_like_status video %}"></span>
                                    <span class="liked-num">{% get_like_count video %}人</span>
                               </div>  
                              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
                              <span>{{video.create_time|date:"Y-m-d"}}</span>
                          </li>
                    </ul>   
                  </div>
                </div>
            </div>
            {% empty %}
            <h2>没有数据</h2>
            {% endfor %}  
        </div>
        <div class="videos"></div>
       </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script_extends %}
      <script src="{% static 'js/video.js' %}"></script>
      <script type="text/javascript">
        //分类js引用
        document.querySelector('#sortable').sortablejs()
                      //点赞的状态改变
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: "{% url 'like_change' %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function(data){
                    console.log(data)
                    if(data['status']=='SUCCESS'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']+'人');
                    }else{
                        if(data['code']==400){
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);    
                        }                        
                    }
                },
                error: function(xhr){
                    console.log(xhr)
                }
            });
        }
      </script>
{% endblock %}
