{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}个人资料{% endblock %}
{% block hender_extends %} 
      <link rel="stylesheet" href="{%static 'css/form.css' %}">
{% endblock %}
{% block content %}
<section class="user_info">
    <div class="containter">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-2">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">用户：{{user.username}}（个人信息）</h3>
                  </div>
                  <div class="panel-body">
                    {% if user.is_authenticated %}
                    <ul>
                        <li class="avater clearfix">
                            头像：{% if user.extension.user_logo %}
                                 <img src="../static/media/{{user.extension.user_logo}}" class="img-circle">
                                  {% else %}未上传{% endif %}
                        </li>
                        <li>
                            昵称：{% if user.extension.nickname %}{{ user.extension.nickname }}{% else %}未设置{% endif %}
                        </li>
                        <li>
                            性别：{% if user.extension.sex %}{{ user.extension.sex }}{% else %} 未设置{% endif %}
                        </li>
                        <li>
                            邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定 {% endif %}
                        </li>
                        <li>电话号码：{% if user.extension.telephone %}{{ user.extension.telephone}}{% else %}未填写{% endif %}</li>
                        <li>
                            QQ号：{% if user.extension.qq_number %}{{ user.extension.qq_number }}{% else %}未填写{% endif %}
                        </li>
                        <li>
                            出生日期：{% if user.extension.birthday %}{{ user.extension.birthday }}    
                                     {% else %}未填写  {% endif %} 
                        </li>
                        <li>
                            学校：{% if user.extension.school %}{{ user.extension.school }}
                                  {% else %}未填写{% endif %}
                        </li>
                        <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <li><a href="{% url 'change' user.id %}">修改个人信息</a></li>
                        <li><a href="{% url 'home'%}" class="btn btn-primary pull-right">返回首页</a><li>
                    </ul>
                {% else %}
                    <span>未登录，跳转到首页...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div> 
</section>   
{% endblock %}
{% block script_extends %}
      <script src="{% static 'js/photo—enlarge.js' %}"></script>
{% endblock %}