.base_modify_form{
  height: 100%;
  width: 100%;
  background: url(../media/img/bg-14.jpeg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.base_modify_form .containter{
     margin-top: 2em ! important;
     margin-bottom: 5em ! important;
}

.register{ background: url(../media/img/bg-1.png) fixed;}
.register .containter{
     margin-top: 2em ! important;
     margin-bottom: 5em ! important;
}

.register .input-group{
    margin-bottom: 20px ! important;
}

.register .input-group input{
   width: 85% ! important;
}

.register .form-size{
    margin-top: 1em;
}

.user_info{
  height: 100%;
  width: 100%;
  background: url(../media/img/bg-14.jpeg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.user_info .containter{
     padding-left: 20%;
}
.user_info li{
    margin-bottom: 1em;
}

.user_info .avater img{
    margin-left: 1em;
    width: 60px;
    height: 60px;
}


